body {
    background-color: #343a40;
    font-size: large;
}

#footerText {
    font-size: x-small;
}


.grid {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-template-rows: 288px;
  grid-gap: 0.5em;
  grid-auto-rows: 288px;
  grid-auto-flow: dense;
}
@media (max-width: 288px) {
  .grid {
    padding: 0.5em;
    grid-gap: 0.25em;
  }
}
.grid .item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
/*.grid .item:nth-of-type(3n) {
  grid-column: span 3;
}*/
@media (max-width: 288px) {
  .grid .item:nth-of-type(1n) {
    grid-column: span 1;
  }
}
/*.grid .item:nth-of-type(2n) {
  grid-row: span 2;
}*/

.grid .item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.grid .item img:hover {
  cursor: pointer;
}

