/* Structure Information */

header {
    color: white;
    background-color: black;
    padding: .5em;
    display: block;
    text-align: center;
    font-family: "Azo Sans";
    font-size: x-large;
    margin: 1em;
    border: 3px solid azure;
    border-radius: 25px;
}

body {
    font-family: "Futura";
    margin: 3em;
    background-color: lightgray;
}

h2 {
    color: azure;
}


footer {
    color: white;
    background-color: black;
    padding: .5em;
    display: block;
    text-align: right;
    font-family: "Azo Sans";
    font-size: xx-small;
    margin: 1em;
    border: 3px solid azure;
    border-radius: 25px;
}

/* Container Information */

#introContainer {
    border: 2px midnightblue solid;
    margin: 2em;
    display: block;
    padding: 2em;
    background-color: #7ad2f5;
    border-radius: 25px;
}


#personaContainer {
    border: 2px midnightblue solid;
    display: block;
    margin: 2em;
    padding: 2em;
    background-color: #747d87;
    border-radius: 25px;
}


#userContainer {
    border: 2px midnightblue solid;
    display: block;
    margin: 2em;
    padding: 2em;
    background-color: lightseagreen;
    border-radius: 25px;
}

/* Title Information */

.title {
    text-decoration: underline azure 3px;
}


.introTitle {
    border: 2px azure solid;
    border-radius: 10px;
    text-align: center;
    color: lightgoldenrodyellow;
    background-color: darkslateblue;
}

.personaTitle {
    border: 2px azure solid;
    border-radius: 10px;
    text-align: center;
    color: lightgoldenrodyellow;
    background-color: darkslategray;
}

.userStoryTitle {
    border: 2px azure solid;
    border-radius: 10px;
    text-align: center;
    color: lightgoldenrodyellow;
    background-color: darkolivegreen;
}